<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Plant Irrigation Super System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script><!-- jquery -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script><!-- plotly? -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> <!-- chart -->
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Watering. Full height) */
.bgimg-1 {
  background-image: url("{{ url_for('static', filename='wat.jpg')}}");
  min-height: 200px;
 
}
/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("{{ url_for('static', filename='lev.jpg')}}");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 450px;
  }
}
</style>
<body>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xxlarge w3-animate-opacity w3-text-light-grey">PLANT IRRIGATION SUPER SYSTEM </span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center w3-text-grey w3-xxlarge">Data: Real Time</h3>   
    <canvas id="speedChart" width="300" height="100"></canvas>
      <script>
      Chart.defaults.global.defaultFontFamily = "Lato";
      Chart.defaults.global.defaultFontSize = 18;
      var speedCanvas = document.getElementById("speedChart");

      var globalmoist = {{allvalues.currentmoisture | tojson}} ;
      var globaltemp = {{allvalues.currenttemperature | tojson}} ;
      var globalhumid = {{allvalues.currenthumidity| tojson}} ;
      var cm = globalmoist;
      var m = globaltemp;
      var c = globalhumid;

      var speedData = {
        labels: [-5, -4, -3, -2, -1, 0],
        datasets: [{
          label: "Moisture %", //change to"Moisture %"
          fill: false,
          data: [globalmoist, globalmoist, globalmoist, cm, cm, cm, cm, cm, cm],
          lineTension: 0.5,
          backgroundColor: 'transparent',
          pointBorderColor: 'black',
          pointHoverRadius: 10,
          pointHitRadius: 60,
          pointBackgroundColor: 'green',
          pointRadius: 3,
          pointBorderWidth: 1,
          //backgroundColor:'rgba(0,0,255,0.5)',
          borderColor: 'green',
          borderWidth: 3,
        },
        {
          label: "Temperature(C)", 
          fill: false,
          data: [m, m, m, m, m, m, m, m, m],
          lineTension: 0.5,
          backgroundColor: 'transparent',
          //backgroundColor:'rgba(0,0,255,0.5)',
          borderColor: 'red',
          borderWidth: 3,
          usePointStyle: false,
          pointBorderColor: 'black',
          pointBackgroundColor: 'red',
          pointRadius: 3,
          pointHoverRadius: 10,
          pointHitRadius: 60,
          pointBorderWidth: 1,
          pointStyle: 'circle'
        },
        {
          label: "Humidity %", 
          fill: false,
          data: [c, c, c, c, c, c, c, c, c],
          lineTension: 0.5,
          backgroundColor: 'transparent',
          //backgroundColor:'rgba(0,0,255,0.5)',
          borderColor: 'blue',
          borderWidth: 3,
          usePointStyle: false,
          pointBorderColor: 'black',
          pointBackgroundColor: 'blue',
          pointRadius: 3,
          pointHoverRadius: 10,
          pointHitRadius: 30,
          pointBorderWidth: 1,
          pointStyle: 'circle'
        }]
      };

      var chartOptions = {
        legend: {
          display: true,
          position: 'top',
          labels: {
            boxWidth: 30,
            fontColor: 'black'
          }
        },
        scales: {
          yAxes: [{
            display: true,
            gridLines: {
                      color: "rgba(0, 0, 0, 0)",
                  },
            ticks: {
              suggestedMin: cm,    // minimum will be 0, unless there is a lower value.
              suggestedMax: cm ,
              beginAtZero: false   // minimum value will be 0.
            }
          }],
          xAxes: [{
            display: true,
            gridLines: {
                      color: "rgba(0, 0, 0, 0)",
                  },
            ticks: {
              suggestedMin: 5,    // minimum will be 0, unless there is a lower value.
              min: -5,
              
              beginAtZero: false   // minimum value will be 0.
              
            },
            labelString: 'Time (seconds)',
            fontcolor: 'grey'
          }]
        },
        
        title: {
          display:false,
          fontColor: 'black',
          text: "Current Dampness of the Soil",
          position: 'top'
        }
      };

      setInterval(adddata,1000)
      function adddata(){
        lineChart.data.datasets[0].data.shift();
        lineChart.data.datasets[0].data.push(globalmoist);
        lineChart.data.datasets[1].data.shift();
        lineChart.data.datasets[1].data.push(globaltemp);
        lineChart.data.datasets[2].data.shift();
        lineChart.data.datasets[2].data.push(globalhumid);
        lineChart.update();
      }

      var lineChart = new Chart(speedCanvas, {
        type: 'line',
        data: speedData,
        options: chartOptions
      });
      </script>
    <p class="w3-center" ><em>Real time data for your plant</em></p>
</div>  
   


<div class="w3-content w3-row w3-center w3-dark-grey w3-padding-64" style="position:relative">
  <!-- <div class="behind w3-row w3-center w3-dark-grey w3-padding-64" style="{z-index:-1;position:absolute;bottom:0;height:800px;}"></div>
 --><!-- <div id="viewer"></div> -->
  <h3 class="w3-center w3-text-white w3-xxlarge"> Data: Long-Term</h3>
  <canvas id="historyChart" width="1000px" height="300px"></canvas>
    <script type="text/javascript">
    var historyCanvas = document.getElementById("historyChart");
    // var devicewidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    // historyCanvas.width = devicewidth;
    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var Data2 = {
      labels: {{allvalues.idvalues | tojson}},//{{allvalues.xvalues | tojson }},
      datasets: [{
        label: "Moisture %",
        fill: false,
        data: {{allvalues.ymoisture | tojson }},
        lineTension: 0.5,
        backgroundColor: 'transparent',
        pointBorderColor: 'black',
        pointHoverRadius: 10,
        pointHitRadius: 60,
        pointBackgroundColor: 'green',
        pointRadius: 3,
        pointBorderWidth: 1,
        //backgroundColor:'rgba(0,0,255,0.5)',
        borderColor: 'green',
        borderWidth: 3,
      },
      {
        label: "Temperature(C)", 
        fill: false,
        data: {{allvalues.ytemperature | tojson }},
        lineTension: 0.5,
        backgroundColor: 'transparent',
        //backgroundColor:'rgba(0,0,255,0.5)',
        borderColor: 'red',
        borderWidth: 3,
        usePointStyle: false,
        pointBorderColor: 'black',
        pointBackgroundColor: 'red',
        pointRadius: 3,
        pointHoverRadius: 10,
        pointHitRadius: 60,
        pointBorderWidth: 1,
        pointStyle: 'circle'
      },
      {
        label: "Humidity %", 
        fill: false,
        data: {{allvalues.yhumidity | tojson }},
        lineTension: 0.5,
        backgroundColor: 'transparent',
        //backgroundColor:'rgba(0,0,255,0.5)',
        borderColor: 'blue',
        borderWidth: 3,
       
        usePointStyle: false,
        pointBorderColor: 'black',
        pointBackgroundColor: 'blue',
        pointRadius: 3,
        pointHoverRadius: 10,
        pointHitRadius: 30,
        pointBorderWidth: 1,
        pointStyle: 'circle'
      }]
    };

    var chartOptions2 = {
      legend: {
        display: true,
        fontColor: 'white',
        position: 'top',
        labels: {
          boxWidth: 30,
          fontColor: 'white'
        }
      },
      scales: {
        yAxes: [{
          display: true,
          fontColor: 'white',
          gridLines: {
                    color: "transparent",
                },
          ticks: {
                    fontColor: "white",
                    fontSize: 18,
                    stepSize: 20,
                    beginAtZero: true
                }
        }],
        xAxes: [{
           ticks: {
                    fontColor: "white",
                    fontSize: 14,
                    stepSize: 15,
                    beginAtZero: true,
                    autoSkip: true,
                    maxTicksLimit: 50
                  },
       gridLines: {
                    color: "transparent",
                }, 
              }]
      },
      
      title: {
        display:false,
        fontColor: 'black',
        text: "Current Dampness of the Soil",
        position: 'top'
      }
    };

    var lineChart2 = new Chart(historyCanvas, {
      type: 'line',
      data: Data2,
      options: chartOptions2
    });
    </script>
  <p class="w3-center"><em>Historic data of your plant</em></p>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">WATER PLANT
      <style type="text/css">
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
  opacity: 1;
}

</style>
      <button class="btn">Button</button>
    </span>
  </div>
</div>

</body>
</html>
